@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeee;
}

.mtrl-select {
  position: relative;
  border-bottom: 0.0625rem solid #e1e8ed;
  display: block;
}

.mtrl-select::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background-color: #c7572b;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
input:focus ~ .mtrl-select::before {
  width: 100%;
  left: 0;
}
